Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
#Solution

In [2]:
#Defining Variable 
a=["Shubham",[99,33,44],99.99,(77,89,99)]

In [3]:
type(a[0])

str

In [4]:
type(a[1])

list

In [5]:
type(a[2])

float

In [6]:
type(a[3])

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [7]:
#Solution

In [8]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

In [9]:
type(var1)

str

In [10]:
type(var2)

str

In [11]:
type(var3)

list

In [12]:
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [13]:
# Solution

In [14]:
#1 division
a=100
b=200
c=a/b
print(c)

0.5

In [15]:
#2 Modulus
a=100
b=200
c=a%b
print(c)

100

In [16]:
#3 Floor division	
a=100
b=20
c=a//b
print(c)

5

In [17]:
#4 Exponentiation
a=10
b=2
c=a**b
print(c)

100

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [18]:
l=["shubham",99.99,100,[99,1,0],(12,3,4),9+3j,{1,2,33,44},2,{1:22,2:33}]

In [19]:
l[-3]

{1, 2, 33, 44}

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [1]:
A=500
B=2
j=0
while A%B==0:
    A=A/B
    print(A)
    j=j+1
    # break
print(j)

250.0
125.0
2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [34]:
l=list(range(1,26))
for i in l:
    # print(i)
    if i%3==0:
        print(i,"divisible by 3")
    else:
        print(i,"not divisible by 3")

1 not divisible by 3
2 not divisible by 3
3 divisible by 3
4 not divisible by 3
5 not divisible by 3
6 divisible by 3
7 not divisible by 3
8 not divisible by 3
9 divisible by 3
10 not divisible by 3
11 not divisible by 3
12 divisible by 3
13 not divisible by 3
14 not divisible by 3
15 divisible by 3
16 not divisible by 3
17 not divisible by 3
18 divisible by 3
19 not divisible by 3
20 not divisible by 3
21 divisible by 3
22 not divisible by 3
23 not divisible by 3
24 divisible by 3
25 not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

### Solution
###### Immutable : Object can not be modified after the creation as well.
Example: string ,Tuple ,int, numbers etc.
##### Mutable   : Object can be modified after the creation as well.
Example: Lists,Dicts ,Sets ,Dict etc.

## Immutable example

In [35]:
l="shubham" #example 1

In [38]:
l[6]

'm'

In [41]:
l[6]="d"

TypeError: 'str' object does not support item assignment

In [43]:
l[6]=6

TypeError: 'str' object does not support item assignment

In [45]:
m=(1,2,22,66,"shubham","Hello",33.33) #example 2

In [47]:
m[6]

33.33

In [49]:
m[6]=8

TypeError: 'tuple' object does not support item assignment

In [58]:
i=999 #example 3

In [60]:
i[2]

TypeError: 'int' object is not subscriptable

## Mutable example

In [62]:
list1=[12,33,44,[33,"SHUBHAM",66.66],89,99] #example 1

In [64]:
list1[3]

[33, 'SHUBHAM', 66.66]

In [65]:
list1[3]="new add"

In [67]:
list1

[12, 33, 44, 'new add', 89, 99]

In [68]:
Dicts1={1:"hello",2:"shubham",3:88,4:"new",5:79.99}

In [72]:
Dicts1[2]

'shubham'

In [73]:
Dicts1[2]=78.889

In [74]:
Dicts1

{1: 'hello', 2: 78.889, 3: 88, 4: 'new', 5: 79.99}

In [76]:
Dicts1[1]=87

In [77]:
Dicts1

{1: 87, 2: 78.889, 3: 88, 4: 'new', 5: 79.99}

In [78]:
Dicts1[4]=7

In [79]:
Dicts1

{1: 87, 2: 78.889, 3: 88, 4: 7, 5: 79.99}