Q1. How do you comment code in Python? What are the different types of comments?
Q2. What are variables in Python? How do you declare and assign values to variables?
Q3. How do you convert one data type to another in Python?
Q4. How do you write and execute a Python script from the command line?
Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].
Q6. What is a complex number in mathematics, and how is it represented in Python?
Q7. What is the correct way to declare a variable named age and assign the value 25 to it?
Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?
Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?
Q10. Given the string "Hello, World!", extract the substring "World".
Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

Q1. How do you comment code in Python? What are the different types of comments?

Solution:

i.comment code in python by:
    
    1. # single line comment , # ignored by interpriter and consider as a comment.

code:

    # single line comment 
    print("example for single line comment")


2. ('''text''') or (""" text"""") single quotation or double quotation for multiline comments

        code:
        '''
        multiple line comment

        more then one line comment
        '''
        print("example for multiline comment")





ii. Diffrent Types of comments:

    1. Single-Line Comments
    2. Multiline Comments 
    3. Python Docstrings (__doc__) attribute acces.

Q2. What are variables in Python? How do you declare and assign values to variables?

    Solution:
    
    1.variable is a name which refer to store value in computer memroy.
    2.variable allow you to store and manipulate values in programs.
    3.In python dont need explacitly declare data types for variables.
    4.Interpriter infer the type based on value assign to it.


Declare and assign valuesto variables:
1.Declare a variable:

      i.choose name for variable 
     ii.avoid using python reserve words as a variable name
 
 
2.Assign Value:

    i.use a assignment operator ( = ) 

Example for declaration and assignment:

    age = 25
    name="shubham"
    Salary =48000
    is_student = False

3.Reassigning Values:

    i. Change value of variable by assigning new value to it.
    
Example for ressigning of values:

    age=25
    print(age) # output =25

    age =30
    print(age) # output=30



4.Multiple Assignment:
    
    i. assign value to multiple variable in single line
    
Example multiple assignement:

    x,y,z=10,20,30

Q.3 How do you convert one data type to another in Python?

Solution:
1. Integer Conversion

In [22]:
# convert flot to integer :
float_number = 3.149856
int_number =int(float_number)
print(int_number)

3

2. Float Conversion

In [25]:
# int to float
int_number= 566
float_number=float(int_number)
print(float_number)

566.0

3. String Conversion

In [27]:
# convert int to string 
int_number=99
string=str(int_number)
print (string)
type(string)

99

str

4. List ,tuple ,set conversion

In [9]:
#convert tuple to list 
tuple_set =(1,2,3)
list_set=list(tuple_set)
print(list_set)

[1, 2, 3]

In [28]:
#convet list to set:
list_set =[99,"shubham",125.99]
set_data= set(list_set)
print(set_data)

{99, 125.99, 'shubham'}

5. list of string to string

In [29]:
#covert list of string to single string:
list_of_string=["shubham","singh"]
single_string='_'.join(list_of_string)
print(single_string)

shubham_singh

6. string to numeric conversion

In [18]:
#convert string to int:
str_num="99"
int_num=int(str_num)
print(int_num)

99

In [20]:
#convert string to float:
str_float="3.149888"
float_data=float(str_float)
print(float_data)

3.149888

Q4. How do you write and execute a Python script from the command line?

Solution:
1. write python script with .py extension 
2. save the script with valid name 
3. open command line or terminal
4. navigate the script directory ,use the 'cd' command to go to directory 
5. execute the script ,run the script with filename.py

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

Solution:

In [41]:
my_list = [1, 2, 3, 4, 5]
sub_list=my_list[1:3] # [start index : End Index]
print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Solution:

    1.complex number is number which consists of real and imaginary part.
    2.its represented in "a+bi",where a is real and b is imaginry part , i is imaginary unit 
    3.in python number can be represneted using complex data type.
    4.in python imaginary part deoted by a sufix j.

In [2]:
#example of complex data type:
#creating complex number 
z1=2+5j # 2 is real and 5 is imaginary 
z2=3-9j # 3 is rela and -9 is imaginary 

# operation with complex number:
sum_comx=z1+z2
diff_comx=z1-z2
product_comx=z1*z2
quotient_comx=z1/z2

# display result:

print("sum:",sum_comx)
print("diff_comx :",diff_comx)
print("product_complex ", product_comx)
print("Quotient_complex number",quotient_comx)

sum: (5-4j)
diff_comx : (-1+14j)
product_complex  (51-3j)
Quotient_complex number (-0.4333333333333333+0.36666666666666664j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

Solution:

In [4]:
#variable assign by simple equal to operator 
age=25
print(age) # check assignment

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

Solution:

In [8]:
#declaration of variable name price:
price=9.99

# "price" variable belog to float data type

#checking data type of price variable:
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [11]:
#createing variable name 
name="Shubham Rajiv Singh"

#print value of variable 
print(name)
type(name)

Shubham Rajiv Singh

str

Q10. Given the string "Hello, World!", extract the substring "World".

In [24]:
input_string="Hello, World!"

extract_string=input_string[6:12]
print(extract_string)

 World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [26]:
# Create a variable named 
is_student=True

#check data type of is_student variable
type(is_student)

bool