# Q.1. What is a database? Differentiate between SQL and NoSQL databases.

    1.A database is an organized collection of data that is stored and accessed electronically.
    2.Databases are used to store, manage, and retrieve information efficiently.
    3.They are an essential component in many applications, ranging from small personal projects to large enterprise systems.
    
## Differences Between SQL and NoSQL Databases

### SQL Databases (Relational Databases):

    1.Structure:
        SQL databases use a structured query language (SQL) for defining and manipulating data.
        They store data in tables with predefined schemas, which consist of rows and columns.
    2.Schema:
        They have a fixed schema, meaning the structure of the data is defined in advance, and each row in a table adheres to the schema.
        
    3.Data Integrity:
        SQL databases enforce ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring reliable transactions and data integrity.
    
    4.Examples:
        
        MySQL, PostgreSQL, Oracle Database, Microsoft SQL Server.
    
    5.Use Cases:
        
        Ideal for applications requiring multi-row transactions, complex queries, and structured data, such as banking systems, ERP systems, and CRM systems.
        
    
### NoSQL Databases (Non-Relational Databases)
    
    1.Structure:
        NoSQL databases use various data models, including key-value pairs, document-based, column-family, and graph databases.
        They do not require a predefined schema, allowing for more flexible data structures.
    
    2.Schema:
        They are schema-less or have dynamic schemas, allowing for easy addition or modification of data fields without significant disruptions.
    
    3.Scalability:
        NoSQL databases are designed to scale horizontally, meaning they can handle large volumes of data and high traffic by distributing the load across multiple servers.
    
    4.Examples:
        MongoDB (document-based), Cassandra (column-family), Redis (key-value), Neo4j (graph).
        
    5.Use Cases:
        Suitable for applications requiring flexible data models, large-scale data storage, and high performance, such as real-time web applications, big data analytics, and content management systems.
        
    
### Key Differences

    1.Data Model:
        SQL: Relational, structured in tables with fixed schemas.
        NoSQL: Non-relational, flexible data models with dynamic schemas.
    2.Query Language:
        SQL: Structured Query Language (SQL).
        NoSQL: Various query languages depending on the database type (e.g., JSON queries in MongoDB, CQL in Cassandra).
    3.Scalability:
        SQL: Vertical scalability (adding more resources to a single server).
        NoSQL: Horizontal scalability (adding more servers to distribute the load).
    4.Transaction Support:
        SQL: Strong ACID compliance for transactions.
        NoSQL: Often prioritizes scalability and performance, may use BASE (Basically Available, Soft state, Eventual consistency) instead of ACID.
    5.Flexibility:
        SQL: Less flexible due to predefined schemas.
        NoSQL: More flexible with schema-less or dynamic schema capabilities.

# Q.2.What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage database structures such as tables, indexes, and schemas. DDL commands deal with the structure of the database rather than the data itself.

## Common DDL Commands and Their Uses:
    
    1. CREATE
        The CREATE command is used to create new database objects such as tables, indexes, or schemas.
        
        CREATE TABLE Employees (
        EmployeeID INT PRIMARY KEY,
        FirstName VARCHAR(50),
        LastName VARCHAR(50),
        HireDate DATE
        );
        
      2. DROP
        The DROP command is used to delete existing database objects. This command removes the object and all the data contained in it.
        
        DROP TABLE Employees;
    
    3. ALTER
        The ALTER command is used to modify the structure of an existing database object, such as adding, deleting, or modifying columns in a table.
        
        ALTER TABLE Employees
        ADD Email VARCHAR(100);
        
    4.TRUNCATE
        The TRUNCATE command is used to remove all rows from a table, but unlike DROP, it does not delete the table itself. It is faster than a DELETE command without a WHERE clause because it deallocates the data pages.
        
        TRUNCATE TABLE Employees;
        

## Summary of Uses
    CREATE: To create new tables or database objects.
    DROP: To delete existing tables or database objects.
    ALTER: To modify the structure of existing tables.
    TRUNCATE: To quickly remove all data from a table without deleting the table itself.

# Q.3.What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used for managing data within database objects like tables. DML commands allow you to insert, update, and delete data.

## Common DML Commands and Their Uses
    
    1.INSERT
        The INSERT command is used to add new rows of data to a table.
        
        INSERT INTO Employees (EmployeeID, FirstName, LastName, HireDate)
        VALUES (1, 'John', 'Doe', '2023-01-15');
    
    2. UPDATE
        The UPDATE command is used to modify existing data in a table.
        
        UPDATE Employees
        SET Email = 'john.doe@example.com'
        WHERE EmployeeID = 1;

    3. DELETE
        The DELETE command is used to remove existing rows from a table.
        
        DELETE FROM Employees
        WHERE EmployeeID = 1;

## Summary of Uses
    INSERT: To add new rows of data to a table.
    UPDATE: To modify existing data in a table.
    DELETE: To remove rows from a table.

# Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve data from databases. The primary command in DQL is SELECT, which is used to fetch data from one or more tables.

## SELECT Command
    The SELECT command is used to query the database and retrieve data based on specified criteria. It allows you to select specific columns, filter rows, sort the results, and join tables.

    SELECT column1, column2, ...
    FROM table_name
    WHERE condition;
    

## Examples of SELECT
    
    1. Selecting All Columns
    
        SELECT * FROM Employees;

    2. Selecting Specific Columns
        
        SELECT FirstName, LastName FROM Employees;
        
    3. Using WHERE Clause
        
        SELECT * FROM Employees
        WHERE HireDate > '2023-01-01';

    4. Sorting Results
        
        SELECT FirstName, LastName FROM Employees
        ORDER BY LastName ASC;
    
    5. Using JOIN Clause
        
        SELECT Employees.FirstName, Employees.LastName, Departments.DepartmentName
        FROM Employees
        JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID;

## Summary of Uses
        
        SELECT: To retrieve data from one or more tables based on specified criteria.
        WHERE: To filter the rows based on certain conditions.
        ORDER BY: To sort the results.
        JOIN: To combine rows from two or more tables based on a related column.

# Q.5 Explain Primary Key and Foreign Key.

## Primary Key

    A primary key is a column (or a set of columns) in a database table that uniquely identifies each row in that table. The primary key ensures that each record in the table is unique and not null. It is a fundamental concept in relational database design and is used to enforce entity integrity.
    

## Characteristics of Primary Key:

    1.Uniqueness: Each value in the primary key column(s) must be unique across the table.
    2.Not Null: The primary key column(s) cannot contain null values.
    3.Single Column or Composite: A primary key can consist of a single column or multiple columns (composite key).
    
    CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    HireDate DATE
    );

## Foreign Key
    
    A foreign key is a column (or a set of columns) in a database table that creates a link between the data in two tables. The foreign key is used to establish and enforce a relationship between the data in the child table and the parent table. It refers to the primary key column in another table, creating a relationship between the two tables.
    
## Characteristics of Foreign Key:

     1.Referential Integrity: Ensures that the value in the foreign key column(s) corresponds to a valid value in the primary key column of the referenced table.
    2.Can Be Null: Foreign key columns can contain null values if the relationship is optional.
    3.Single Column or Composite: A foreign key can consist of a single column or multiple columns (composite key).
    

    CREATE TABLE Departments (
        DepartmentID INT PRIMARY KEY,
        DepartmentName VARCHAR(100)
        );

    CREATE TABLE Employees (
        EmployeeID INT PRIMARY KEY,
        FirstName VARCHAR(50),
        LastName VARCHAR(50),
        HireDate DATE,
        DepartmentID INT,
        FOREIGN KEY (DepartmentID) REFERENCES Departments(DepartmentID)
        );

    
## Summary
    Primary Key: Ensures each row in a table is unique and not null. It is used to identify records uniquely within the table.

    Foreign Key: Creates a relationship between two tables by referencing the primary key of another table. It ensures referential integrity by enforcing valid relationships between tables.

# Q.6.Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

## Connecting MySQL to Python
To connect MySQL to Python, you need to use a MySQL connector. One of the most commonly used connectors is mysql-connector-python. First, make sure you have it installed:
        
        pip install mysql-connector-python

## Python Code to Connect MySQL to Python
    
    import mysql.connector

    # Establishing the connection
    conn = mysql.connector.connect(
        host='your_host',    # e.g., 'localhost' or '127.0.0.1'
        user='your_username', # e.g., 'root'
        password='your_password', # e.g., 'password'
        database='your_database' # e.g., 'testdb'
    )

    # Creating a cursor object
    cursor = conn.cursor()

    # Executing a simple SQL query
    cursor.execute("SELECT * FROM your_table") # Replace 'your_table' with your table name

    # Fetching the results
    results = cursor.fetchall()

    # Printing the results
    for row in results:
        print(row)

    # Closing the cursor and connection
    cursor.close()
    conn.close()
    
    
## Explanation of cursor() and execute() Methods

    cursor()
    The cursor() method creates a cursor object. A cursor is a control structure that enables traversal over the records in a database. Cursors facilitate executing SQL queries and fetching data from the database.
    
    cursor = conn.cursor()
    
    execute()
    The execute() method is used to execute a single SQL query. It takes a SQL query as a string parameter and sends it to the database for execution.
    
    cursor.execute("SELECT * FROM your_table")
    
    
    
## Summary
    cursor(): Creates a cursor object, which is used to execute SQL queries and fetch results.
    execute(): Executes a single SQL query passed as a string to the database. The query can be a SELECT, INSERT, UPDATE, DELETE, or any other SQL statement.

## Q.7. Give the order of execution of SQL clauses in an SQL query

The actual order of execution is designed to ensure the query is processed correctly. Here's the logical order of execution for SQL clauses:
    
    1.FROM
    2.JOIN
    3.WHERE
    4.GROUP BY
    5.HAVING
    6.SELECT
    7.DISTINCT
    8.ORDER BY
    9.LIMIT
    
## Explanation of Each Clause
    
    FROM:
        Specifies the table to retrieve data from. It's the starting point of any SQL query execution.
        
    JOIN:
        Combines rows from two or more tables based on a related column between them. Joins are processed after the FROM clause.
        
    WHERE:
        Filters rows based on a condition. Only the rows that meet the condition are passed to the next stage.
        
    GROUP BY:
        Aggregates data by one or more columns. This is used with aggregate functions (like SUM, COUNT, AVG, etc.) to group the result set.
        
    HAVING:
        Filters groups based on a condition. Similar to WHERE, but it operates on groups created by the GROUP BY clause.
        
    
    SELECT:
        Specifies the columns to be returned in the result set. This is where you list the columns you want to retrieve.
        
    DISTINCT:
        Removes duplicate rows from the result set. It is processed after the SELECT clause.
        
    ORDER BY:
        
        Sorts the result set by one or more columns. Sorting is performed after all the rows have been retrieved and filtered.
        
    LIMIT:

        Restricts the number of rows returned in the result set. It is applied at the end, after sorting.
    
    
## Example Query with Execution Order
    
    SELECT DISTINCT FirstName, LastName, COUNT(OrderID) AS OrderCount
    FROM Customers
    JOIN Orders ON Customers.CustomerID = Orders.CustomerID
    WHERE Country = 'USA'
    GROUP BY FirstName, LastName
    HAVING COUNT(OrderID) > 5
    ORDER BY OrderCount DESC
    LIMIT 10;

## Execution Order:
    FROM Customers
    JOIN Orders ON Customers.CustomerID = Orders.CustomerID
    WHERE Country = 'USA'
    GROUP BY FirstName, LastName
    HAVING COUNT(OrderID) > 5
    SELECT DISTINCT FirstName, LastName, COUNT(OrderID) AS OrderCount
    DISTINCT
    ORDER BY OrderCount DESC
    LIMIT 10